
.click:hover{
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}
.sent{
    background-color: rgb(0, 132, 255);
    color: white;
    margin: 2px;
    max-width: 50vw;
    border: none;
    border-radius: 8px;
    white-space: normal;
    word-wrap: break-word
}
.received{
    background-color: #e4e6eb;
    margin: 2px;
    max-width: 50vw;
    border: none;
    border-radius: 8px;
    white-space: normal;
    word-wrap: break-word
}
.contact{
    border: none;
    margin-right: 15px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #0275d8;
    opacity: 75%;
    border-radius: 50%;
    display: inline-block;
  }
.convo-wrapper{
    margin-right: 50px;
}
@media (max-width: 500px) {
    .contact{
        margin-right: 0;
    }
    .convo-wrapper{
        margin-right: 0;
    }
    .contactInfo{
        display: none;
    }
}
.contact:hover{
    background-color: #e4e6eb;
}
.active_conv{
    background-color: #ecf3ff;
}
.img{
    border: none;
    border-radius: 50%;
}

.profile{
    display: block;
    margin:auto;
}

.emptyConvo{
    opacity: 50%;
}

.new_message_form{
    position: fixed;
    bottom: 0%;
    width: 77%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.new_message{
    border-radius: 20px;
    background-color: #f0f0f0;
    width: 75%;
    flex-grow: 2;
}

.convo{
    overflow-y: scroll;
    height: 78vh;
    padding-bottom: 20px;
}

.emojiPicker{
    display: none;
}

.contact_list{
    overflow-y: auto;
    height: 100%;
    transition: all 0.3s ease;
}
.icon{
    opacity: 50%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.backIcon{
    cursor: pointer;
    opacity: 30%;
    color: #afafaf;
    transition: all 0.3s ease;
}
.backIcon:hover{
    color: #f5f5f5;
    opacity: 70%;
    transform: scale(1.5);
}

.icon:hover{
    background-color: #afafaf;
    transform: scale(1.5);
}
.custom-tooltip {
    --bs-tooltip-bg: #363535;
    --bs-tooltip-color: white;
  }
.navbar{
    opacity: 75%
}
.folderIcon{
    opacity: 50%;
    margin-left: 5px;
}
.fileBox{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-gap: 10px;
    background-color: #e3e3e3;

}

@keyframes fadeIn{
    from { 

        opacity: 0;
    }
    to {

        opacity: 1;
    }
}
.fileBoxPic{
    width: 200px;
    height: 200px;
    cursor: pointer;
}
